///////////////////////////////////////
// css theme variables / settings


$font-family: "Georgia", "Merriweather", serif;

$body-color:            #c0c0c0;
$body-background-color: #151515;

$link-color:            #d4af37;
$headings-color:        #eeeeee;

$strong-color:          #ffffff;

$blockquote-color:        #a0a0a0;
$blockquote-border-color: #a41818;
